.site-card-wrapper {
  background: #ececec;
  padding: 30px;
}

tr.drop-over-downward{
  border-bottom: 2px dashed #1890ff;
}

tr.drop-over-upward {
  border-top: 2px dashed #1890ff;
}
/*这里必须设置table样式否则bottom样式不会生效*/
table{
  border-collapse: collapse !important;
}
